@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftSlideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(1200px);
  }
}

@keyframes leftSlideIn {
  from {
    opacity: 0;
    transform: translateX(-1200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightSlideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-1200px);
  }
}

@keyframes rightSlideIn {
  from {
    opacity: 0;
    transform: translateX(1200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rollFromTop {
  from {
    opacity: 0;
    color: transparent;
    line-height: 0;
  }
  to {
    opacity: 1;
    color: $color-light;
    line-height: 1.3;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rollToTop {
  from {
    opacity: 1;
    color: $color-light;
    line-height: 1.3;
  }
  to {
    opacity: 0;
    color: transparent;
    line-height: 0;
  }
}
