@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$font-title-bold: 'Anton', sans-serif;
$font-title-bold-indus: 'Wallpoet', cursive;
$font-title-bold-retro: 'Limelight', cursive;
$font-title-triangle: 'Megrim', cursive;
$font-title-double: 'Tourney', cursive;
$font-title-triple: 'Zen Tokyo Zoo', cursive;
$font-title-hipster: 'Wire One', sans-serif;
$font-nerd: 'Open Sans', sans-serif;
$font-text: 'Poppins', sans-serif;

