@import "./variables";

@mixin neon-wrapper {
    box-shadow: $neon-box-shadow-green;
    border-radius: 1.5rem;
    animation: border-flicker 2s linear;
}

@mixin neon-wrapper-black {
  box-shadow: $neon-box-shadow-black;
  border-radius: 10px;
  animation: border-flicker 2s linear;
}

@mixin neon-wrapper-round {
  box-shadow: $neon-box-shadow-purple;
  border-radius: 50%;
  padding: 5px;
}

@mixin neon-text-green {
    color:#d8fffa;
    text-shadow: $neon-text-shadow-green;
}

@mixin neon-text-purple {
  color:#f7d8ff;
  text-shadow: $neon-text-shadow-purple;
}

@mixin light-neon-text-green {
  color:#d8fffa;
  text-shadow: $light-neon-text-shadow-green;
}

@mixin light-neon-text-purple {
  color:#f1d8ff;
  text-shadow: $light-neon-text-shadow-purple;
}

@mixin med-neon-text {
  color:#d8fffa;
  text-shadow: $med-neon-text-shadow-green;
  font-family: $font-nerd;
}

@mixin neon-text-animated {
    @include neon-text-green;
    animation: text-flicker 3s linear;
    &--offset {
        animation: letter-flicker 2s linear 3 2s;
    }
}

@mixin light-neon-text-animated {
  @include light-neon-text-green;
  animation: text-flicker 3s linear;
  &--offset {
      animation: letter-flicker 2s linear 3 2s;
  }
}

@mixin neon-text-glow {
  animation: text-glow 3s linear;
}

@keyframes text-flicker {
    0% {
      opacity:0.1;
    }
    6% {
      opacity:1;
    }
    9% {
      opacity:0.1;
    }
    14% {
      opacity:1;
    }
    18% {
      opacity:0.1;
    }
    24% {
      opacity:1;
    }
    27% {
      opacity:0.3;
    }
    30% {
      opacity:1;
    }
    70% {
      opacity:0.7;
    }
    75% {
      opacity:0.2;
    }
    87% {
      opacity:.9;
    }
    100% {
      opacity:.9;
    }
}
  
  @keyframes border-flicker {
    0% {
      opacity:0.1;
    }
    6% {
      opacity:1;
    }
    12% {
      opacity:0.1;
    }
    
    20% {
      opacity:1;
    }
    70% {
      opacity:0.7;
    }
    100% {
      opacity:1;
    }
}
  
  @keyframes letter-flicker {
    0% {
      opacity:0.1;
    }
    6% {
      opacity:0.1;
    }
    15% {
      opacity:1;
    }
    19% {
      opacity:1;
    }
    26% {
      opacity:0.1;
    }
    30% {
      opacity:1;
    }
    80% {
      opacity:1;
    }
    86% {
      opacity:0.4;
    }
    92% {
      opacity:1;
    }
}


@keyframes text-glow {
  0% {
    opacity:0.1;
    transform: scale(0.5);
    transform: rotate(0deg);
  }
  20% {
    opacity:0.9;
    transform: scale(1.3);
  }
  45% {
    opacity:0.5;
    
  }
  60% {
    opacity:1;
    transform: scale(0.6);
  }
  72% {
    opacity:0.3;
    transform: scale(1.1);
  }
  100% {
    opacity:1;
    transform: scale(1);
    transform: rotate(30deg);
  }
}