// COLORS
$color-light: #e8fff9;
$color-dark: #0c1713;

$neon-box-shadow-green: 0 0 0.1rem 0.4rem #f7ffff, 0 0 0.4rem 0.6rem #72e9cb,
  0 0 4rem 0.4rem #0be59c, inset 0 0 1.5rem 0.4rem #0be5a4,
  inset 0 0 0.4rem 0.2rem #72e9c5, inset 0 0 0.5rem 0.2rem #f7fffc;

$neon-box-shadow-purple: 0 0 0.1rem 0.4rem #fdf7ff, 0 0 0.4rem 0.6rem #a672e9,
  0 0 4rem 0.4rem #a145d6, inset 0 0 1.5rem 0.4rem #b634e9,
  inset 0 0 0.4rem 0.2rem #c772e9, inset 0 0 0.5rem 0.2rem #fdf7ff;

$neon-box-shadow-black: 0 0 0.6rem 0.3rem #0000003b, 0 0 0.4rem 0.6rem #0000002a,
  0 0 4rem 2.4rem #0b090c2f, inset 0 0 1.5rem 0.4rem #05040528,
  inset 0 0 0.4rem 0.9rem #07050744, inset 0 0 0.8rem 1.5rem #00000054;

$neon-text-shadow-green: 0.1rem 0rem 0.25rem #d8fff5,
  0.2rem 0rem 0.25rem #d8fff8, 0.4rem 0rem 0.25rem #d8fff8,
  0.1rem 0rem 0rem #57f2d0, 0.2rem 0rem 0rem #57f2d0, 0.4rem 0rem 0rem #57f2cb,
  0.1rem 0rem 0.1rem #57f2d0, 0.2rem 0rem 0.1rem #57f2dd,
  0.4rem 0rem 0.1rem #57f2c4, 0.1rem 0rem 0.2rem #57f2d0,
  0.2rem 0rem 0.2rem #57f2d0, 0.4rem 0rem 0.2rem #57f2d0,
  0.1rem 0rem 0.1rem #0be5ae, 0.2rem 0rem 0.1rem #0be5b6,
  0.4rem 0rem 0.2rem #0be5ae, 0.1rem 0rem 0.2rem #0be59c,
  0.2rem 0rem 0.2rem #0be5a4, 0.4rem 0rem 0.1rem #0be5ae,
  0.1rem 0rem 0.1rem #0be59c, 0.2rem 0rem 0.3rem #0be5c1,
  0.4rem 0rem 0.1rem #0be5b6;

$med-neon-text-shadow-green: 0.1rem 0rem 0.25rem #d8fff5,
  0.2rem 0rem 0.25rem #d8fff8, 0.2rem 0rem 0.25rem #d8fff8,
  0.1rem 0rem 0rem #57f2d0, 0.2rem 0rem 0rem #57f2d0, 0.2rem 0rem 0rem #57f2cb,
  0.1rem 0rem 0.1rem #57f2d0, 0.2rem 0rem 0.1rem #57f2dd,
  0.2rem 0rem 0.1rem #57f2c4, 0rem 0rem 0.2rem #57f2d0, 0rem 0rem 0.2rem #57f2d0,
  0.2rem 0rem 0.2rem #57f2d0, 0rem 0rem 0.1rem #0be5ae, 0rem 0rem 0.1rem #0be5b6,
  0.2rem 0rem 0.5rem #0be5ae, 0rem 0rem 0.5rem #0be59c, 0rem 0rem 0.2rem #0be5a4,
  0.2rem 0rem 0.1rem #0be5ae, 0rem 0rem 0.1rem #0be59c, 0rem 0rem 0.3rem #0be5c1,
  0.2rem 0rem 0.1rem #0be5b6;

$light-neon-text-shadow-green: 0rem 0rem 0.1rem #d8fff5,
  0rem 0rem 0.1rem #d8fff8, 0rem 0rem 0.1rem #d8fff8, 0rem 0rem 0rem #57f2d0,
  0rem 0rem 0rem #57f2d0, 0rem 0rem 0rem #57f2cb, 0rem 0rem 0.1rem #57f2d0,
  0rem 0rem 0.1rem #57f2dd, 0rem 0rem 0.1rem #57f2c4, 0rem 0rem 0.3rem #57f2d0,
  0rem 0rem 0.3rem #57f2d0, 0rem 0rem 0.3rem #57f2d0;

$neon-text-shadow-purple: 0.1rem 0rem 0.25rem #ead8ff,
  0.2rem 0rem 0.25rem #e6d8ff, 0.4rem 0rem 0.25rem #ead8ff,
  0.1rem 0rem 0rem #b457f2, 0.2rem 0rem 0rem #9a57f2, 0.4rem 0rem 0rem #9f57f2,
  0.1rem 0rem 0.01rem #b957f2, 0.2rem 0rem 0.01rem #9a57f2,
  0.4rem 0rem 0.01rem #9876d6, 0.1rem 0rem 0.2rem #ce57f2,
  0.2rem 0rem 0.2rem #9f57f2, 0.4rem 0rem 0.2rem #9257f2,
  0.1rem 0rem 0.1rem #a05fc5, 0.2rem 0rem 0.1rem #c10be5,
  0.4rem 0rem 0.5rem #b20be5, 0.1rem 0rem 0.5rem #950be5,
  0.2rem 0rem 0.2rem #a70be5, 0.4rem 0rem 0.1rem #b90be5,
  0.1rem 0rem 0.1rem #a00be5, 0.2rem 0rem 0.3rem #cc0be5,
  0.4rem 0rem 0.1rem #a00be5;

$light-neon-text-shadow-purple: 0rem 0rem 0.01rem #ead8ff,
  0rem 0rem 0.01rem #ead8ff, 0rem 0rem 0.01rem #ead8ff, 0rem 0rem 0rem #9257f2,
  0rem 0rem 0rem #9257f2, 0rem 0rem 0rem #9257f2, 0rem 0rem 0.01rem #8d57f2,
  0rem 0rem 0.01rem #8d57f2, 0rem 0rem 0.01rem #8d57f2, 0rem 0rem 0.2rem #8057f2,
  0rem 0rem 0.2rem #8057f2, 0rem 0rem 0.2rem #8057f2;
