// COLORS
$color-green: #72e9cb; 
$color-purple: #9257f2;
$color-light: #e8fff9; 
$color-dark: #0C1713;

$neon-box-shadow-green:
    0 0 0.1rem  0.4rem #f7ffff,   
    0 0 0.4rem  0.6rem #72e9cb, 
    0 0   4rem  0.4rem #0be59c,
    inset 0 0 1.5rem  0.4rem #0be5a4,
    inset 0 0 0.4rem  0.2rem #72e9c5,
    inset 0 0 0.5rem  0.2rem #f7fffc;

$neon-box-shadow-purple:
    0 0 0.1rem  0.4rem #fdf7ff,   
    0 0 0.4rem  0.6rem #a672e9, 
    0 0   4rem  0.4rem #a145d6,
    inset 0 0 1.5rem  0.4rem #b634e9,
    inset 0 0 0.4rem  0.2rem #c772e9,
    inset 0 0 0.5rem  0.2rem #fdf7ff;

$neon-box-shadow-black:
    0 0 0.6rem  0.3rem #0000003b,   
    0 0 0.4rem  0.6rem #0000002a, 
    0 0   4rem  2.4rem #0b090c2f,
    inset 0 0 1.5rem  0.4rem #05040528,
    inset 0 0 0.4rem  0.9rem #07050744,
    inset 0 0 0.8rem  1.5rem #00000054;

$neon-text-shadow-green: 
    .1rem 0rem .25rem #d8fff5, .2rem 0rem .25rem #d8fff8, .4rem 0rem .25rem #d8fff8, 
    .1rem 0rem   0rem #57f2d0, .2rem 0rem   0rem #57f2d0, .4rem 0rem   0rem #57f2cb,
    .1rem 0rem  .1rem #57f2d0, .2rem 0rem  .1rem #57f2dd, .4rem 0rem  .1rem #57f2c4,
    .1rem 0rem   2rem #57f2d0, .2rem 0rem   2rem #57f2d0, .4rem 0rem   2rem #57f2d0, 
    .1rem 0rem   1rem #0be5ae, .2rem 0rem   1rem #0be5b6, .4rem 0rem   5rem #0be5ae, 
    .1rem 0rem   5rem #0be59c, .2rem 0rem  20rem #0be5a4, .4rem 0rem  10rem #0be5ae,
    .1rem 0rem  10rem #0be59c, .2rem 0rem  30rem #0be5c1, .4rem 0rem  10rem #0be5b6;  

$med-neon-text-shadow-green: 
    .1rem 0rem .25rem #d8fff5, .2rem 0rem .25rem #d8fff8, .2rem 0rem .25rem #d8fff8, 
    .1rem 0rem   0rem #57f2d0, .2rem 0rem   0rem #57f2d0, .2rem 0rem   0rem #57f2cb,
    .1rem 0rem  .1rem #57f2d0, .2rem 0rem  .1rem #57f2dd, .2rem 0rem  .1rem #57f2c4,
    0rem 0rem   2rem #57f2d0, 0rem 0rem   2rem #57f2d0, .2rem 0rem   2rem #57f2d0, 
    0rem 0rem   1rem #0be5ae, 0rem 0rem   1rem #0be5b6, .2rem 0rem   5rem #0be5ae, 
    0rem 0rem   5rem #0be59c, 0rem 0rem  20rem #0be5a4, .2rem 0rem  10rem #0be5ae,
    0rem 0rem  10rem #0be59c, 0rem 0rem  30rem #0be5c1, .2rem 0rem  10rem #0be5b6;  

$light-neon-text-shadow-green: 
    0rem 0rem .1rem #d8fff5, 0rem 0rem .1rem #d8fff8, 0rem 0rem .1rem #d8fff8,
    0rem 0rem   0rem #57f2d0, 0rem 0rem   0rem #57f2d0, 0rem 0rem   0rem #57f2cb,
    0rem 0rem  .1rem #57f2d0, 0rem 0rem  .1rem #57f2dd, 0rem 0rem  .1rem #57f2c4,
    0rem 0rem   2rem #57f2d0, 0rem 0rem   2rem #57f2d0, 0rem 0rem   2rem #57f2d0;

$neon-text-shadow-purple: 
    .1rem 0rem .25rem #ead8ff, .2rem 0rem .25rem #e6d8ff, .4rem 0rem .25rem #ead8ff, 
    .1rem 0rem   0rem #9257f2, .2rem 0rem   0rem #9a57f2, .4rem 0rem   0rem #9f57f2,
    .1rem 0rem  .1rem #7957f2, .2rem 0rem  .1rem #9a57f2, .4rem 0rem  .1rem #8d57f2,
    .1rem 0rem   2rem #8057f2, .2rem 0rem   2rem #9f57f2, .4rem 0rem   2rem #9257f2, 
    .1rem 0rem   1rem #450be5, .2rem 0rem   1rem #1a0be5, .4rem 0rem   5rem #830be5, 
    .1rem 0rem   5rem #1a0be5, .2rem 0rem  20rem #1a0be5, .4rem 0rem  10rem #1a0be5,
    .1rem 0rem  10rem #330be5, .2rem 0rem  30rem #4c0be5, .4rem 0rem  10rem #330be5;

$light-neon-text-shadow-purple: 
    0rem 0rem .1rem #ead8ff, 0rem 0rem .1rem #ead8ff, 0rem 0rem .1rem #ead8ff,
    0rem 0rem   0rem #9257f2, 0rem 0rem   0rem #9257f2, 0rem 0rem   0rem #9257f2,
    0rem 0rem  .1rem #8d57f2, 0rem 0rem  .1rem #8d57f2, 0rem 0rem  .1rem #8d57f2,
    0rem 0rem   2rem #8057f2, 0rem 0rem   2rem #8057f2, 0rem 0rem   2rem #8057f2;
