@import "../base/base";

// ------------------ CONTACT
.contact {
  color: $color-light;
}
.contact-title {
  @include neon-text-animated;
  font-size: 4rem;
  @media (max-width: 600px) {
      font-size: 3rem;
  }
}

.contact-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-label {
  margin-top: 5px;
  font-family: $font-title-hipster;
  display: block;
  font-size: 3rem;
  @media (max-width: 600px) {
      font-size: 2rem;
  }
}

.contact-input {
  padding: 10px;
  border-radius:10px;
  min-width: 200px;
  &--message {
      height: 150px;
      max-height: 550px;
      max-width: 350px;
      margin-bottom: 20px;
      width: 400px;
      @media (max-width: 700px) {
          width: 275px;
      }
  }
  &--err {
    padding: 10px;
    border-radius:10px;
    border-style: solid;
    border-color: rgb(161, 12, 12);
    border-width: 5px;
    box-shadow: $neon-box-shadow-purple;
  }
  &--captcha-err {
    font-size: 1.5rem;
    padding: 10px;
    border-radius:10px;
    border-style: solid;
    border-color: rgb(161, 12, 12);
    border-width: 5px;
    font-family: $font-title-bold;
    font-weight: 300;
    box-shadow: $neon-box-shadow-purple;
    margin-top: 10px;
    background-color: white;
    color: black;
    margin-bottom: -10px;
  }
}

.contact-btn-neon-wrapper {
  @include neon-wrapper;
  margin-top:30px;
  margin-bottom:30px;
  max-width:150px;
}

.contact-btn-neon-text {
  @include neon-text-animated;
  text-shadow: $light-neon-text-shadow-green;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  padding: 0 2rem 0 2rem;
  &:hover {
      color:#ffd8d8;
      text-shadow: $neon-text-shadow-purple;
      animation: letter-flicker 2s linear 3;
  }
  cursor: pointer;
}

.contact-gh-link {
  height: 2rem;
  width: 2rem;
  margin-top: -45px;
  &:hover {
      animation: spin 800ms forwards;
  }
}
